.formControl.error textarea,
.formControl.error input{
    border:2px red solid;
}
.error span{
    color:red;
    display: block;
}
.formSummaryError{
    border:1px red solid;
    padding: 5px;
    color: brown;
}