.inputBlock{
    display: flex;
    background-color: var(--gray);
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}
.inputBlock button{
    background-color: var(--green);
    color: white;
    outline: none;
    border: none;
    width: 20%;
    height: 3rem;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s;
}
.inputBlock button:hover {
    background-color: var(--darkGray);
}
.inputBlock input{
    border-radius: 5px;
    border:none;
    padding: 0.5rem;
    width: 100%;
    margin: 0 1rem;
    outline: none;
    font-size: 16px;
}
.inputBlock input::placeholder{
    color: black;
}