@purple: #5A30F0;
@light-grey: #F3F6FB;
@middle-grey: #E2E8F0;
@text-secondary: #636C81;
@black: #404040;


@font-face {
  font-family: TT Travels;
  src: url('../fonts/TTTravels-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: TT Travels;
  src: url('../fonts/TTTravels-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: TT Travels;
  src: url('../fonts/TTTravels-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: TT Travels;
  src: url('../fonts/TTTravels-DemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: TT Travels;
  src: url('../fonts/TTTravels-Bold.ttf');
  font-weight: 700;
}

@keyframes rolling {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: @black;
  font-family: "TT Travels", sans-serif;
  font-size: 18px;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

.rolling-button {
  cursor: pointer;
  transition: 0.5s;
  animation-name: rolling;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background-color: @purple;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-weight: 500;
  color: white;
  position: absolute;
}

#banner {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 14rem;
  height: 14rem;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  bottom: 0;
  z-index: 5;
}

.burger {
  outline: none;
  cursor: pointer;
  z-index: 11;
  border: none;
  position: fixed;
  background-color: transparent;
  top: 1.5rem;
  right: 1rem;

  span {
    display: block;
    width: 15px;
    height: 3px;
    margin: 5px;
    background-color: @black;
  }

  &.active-burger {
    transform: translate(-27px, 5px);

    span {
      transition: 0.4s;
      width: 20px;

      &:first-child {
        position: absolute;
        transform: rotate(-45deg);
      }

      &:last-child {
        position: absolute;
        display: block;
        transform: rotate(45deg);
      }
    }
  }
}

.mobile-menu {
  z-index: 10;
  margin: 0;
  padding: 0;
  width: 0;
  list-style: none;
  flex-direction: column;
  height: 100vh;
  transition: 0.4s;
  visibility: hidden;
  position: fixed;
  background-color: @purple;
  display: flex;
  justify-content: center;
  align-items: center;

  &.activeMobile {
    visibility: visible;
    width: 100vw;
  }

  li {
    margin: 2rem;

    a {
      color: white;
    }
  }
}

header {
  z-index: 6;
  position: fixed;
  transition: 0.4s;
  width: 90%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  height: 70px;
  background-color: transparent;

  .logo {
    width: 90px;
  }

  .switch {
    height: fit-content;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    margin: 0 1.5rem;

    p {
      width: 50%;
      height: 100%;
      padding: 0.6rem;
      border-radius: 1rem;
      margin: 0;
      font-weight: 500;
      font-size: 12px;
    }

    .blue {
      background-color: @purple;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }

  nav {
    margin: 0 auto;

    ul {
      list-style: none;
      display: flex;

      li {
        padding: 1rem;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .number_time {
    margin: 0 0 0 auto;
    font-size: 14px;
    font-weight: 500;

    span {
      margin: 0 1rem;
    }
  }
}

.banner {

  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .img {
    width: 50%;
    height: 100%;
    background: center/cover url("../img/header_img.jpg");
  }

  .text {
    width: 50%;

    .text-content {
      width: 50%;
      margin: 0 auto;

      h1 {
        font-size: 76px;
        font-weight: 400;
        margin: 0 0 2rem;
      }
    }
  }
}

.cards {
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .cards-item {
    overflow: hidden;
    animation-name: none;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    opacity: 0;
    border-radius: 10px;
    background-color: @light-grey;
    width: 300px;
    height: 330px;
    transition: 0.4s;
    position: relative;
    cursor: default;
    &:hover{
      .back{
        opacity: 1;
      }
      .front{
        opacity: 0;
      }
    }
    .front{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      transition: 0.4s;
      position: absolute;
      width: 100%;
      height: 100%;
      p {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        padding: 0 0.7rem;
      }
    }
    .back{
      transition: 0.4s;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: @purple;
      opacity: 0;
      p{
        color: white;
        margin: 30px 30px auto 30px;
      }
    }

  }
}

.how{
  width: 80%;
  margin: 7rem auto 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text{
    align-self: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    h3{
      font-size: 44px;
      font-weight: 400;
    }
    p{
      max-width: 415px;
    }
  }
  img{
    width: 100%;
  }
}

@media (max-width: 1200px) {
  header {
    font-size: 14px;
    justify-content: space-around;
    width: 94%;
    padding: 0 3%;

    nav {
      ul {
        padding: 0;

        li {
          padding: 0.5rem;
        }
      }
    }

    .number_time {
      margin: 0 3rem 0 auto;
    }
  }

  .cards {
    .cards-item {
      margin: 2rem 4rem;
    }
  }
}

@media (max-width: 992px) {
  header {
    justify-content: normal;

    nav {
      display: none;
    }
  }

  .banner {
    .img {
      position: absolute;
      width: 100%;
      z-index: 0;
      opacity: 0.7;
    }

    .text {
      width: 100%;
      z-index: 2;
    }
  }

  .how{
    .text{
      flex-direction: column;
      text-align: center;
      h3{
        margin: 0 0 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .rolling-button {
    width: 7rem;
    height: 7rem;
  }

  #banner {
    width: 8rem;
    height: 8rem;
  }

  header {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0.5rem;
  }

  .banner {
    .text {
      .text-content {
        width: 70%;

        h1 {
          font-size: 50px;
        }
      }
    }
  }

  .cards {
    .cards-item {
      margin: 2rem 0;
    }
  }
  .how{
    width: 90%;
  }
}