.header {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: var(--green);
}

.logo span {
    padding-left: 1rem;
    font-size: 16px;
    color: white;
}
.lastData{
    color: white;
}
