@font-face {
  font-family: 'TT Hoves';
  src: local('TT Hoves ExtraBold'), local('TT-Hoves-ExtraBold'), url('../fonts/TTHoves-ExtraBold.woff2') format('woff2'), url('../fonts/TTHoves-ExtraBold.woff') format('woff'), url('../fonts/TTHoves-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'TT Hoves';
  src: local('TT Hoves Bold'), local('TT-Hoves-Bold'), url('../fonts/TTHoves-Bold.woff2') format('woff2'), url('../fonts/TTHoves-Bold.woff') format('woff'), url('../fonts/TTHoves-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TT Hoves';
  src: local('TT Hoves Medium'), local('TT-Hoves-Medium'), url('../fonts/TTHoves-Medium.woff2') format('woff2'), url('../fonts/TTHoves-Medium.woff') format('woff'), url('../fonts/TTHoves-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TT Hoves';
  src: local('TT Hoves Regular'), local('TT-Hoves-Regular'), url('../fonts/TTHoves-Regular.woff2') format('woff2'), url('../fonts/TTHoves-Regular.woff') format('woff'), url('../fonts/TTHoves-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TT Hoves';
  src: local('TT Hoves Light'), local('TT-Hoves-Light'), url('../fonts/TTHoves-Light.woff2') format('woff2'), url('../fonts/TTHoves-Light.woff') format('woff'), url('../fonts/TTHoves-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
a,
button {
  text-decoration: none;
  outline: none;
  color: black;
}
body {
  font-family: 'TT Hoves', sans-serif;
  font-weight: 400;
  margin: 0;
  color: #333333;
}
.title {
  font-weight: 300;
  color: #BDBDBD;
  font-size: 60px;
  margin-bottom: 1rem;
}
section,
.footer-top {
  width: 88%;
  margin: 0 auto;
  padding: 1rem 0;
}
.white-button {
  background: white;
  border: none;
  font-size: 12px;
  padding: 1rem 1.5rem;
  font-family: 'TT Hoves', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.white-button span {
  margin-left: 0.5rem;
  font-size: 20px;
}
.white-button:hover {
  background: #333333;
  color: white;
}
.black-button {
  cursor: pointer;
  background: #333333;
  color: white;
  border: none;
  font-size: 12px;
  padding: 1rem 1.5rem;
  font-family: 'TT Hoves', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.black-button span {
  margin-left: 0.5rem;
  font-size: 20px;
}
.black-button:hover {
  opacity: 0.7;
}
.burger {
  cursor: pointer;
  display: none;
  z-index: 11;
  border: none;
  position: fixed;
  background-color: transparent;
  top: 2rem;
  left: 2rem;
}
.burger span {
  display: block;
  width: 15px;
  height: 3px;
  margin: 5px;
  background-color: #BDBDBD;
}
.burger.active-burger {
  transform: translateY(10px);
}
.burger.active-burger span {
  transition: 0.4s;
  display: none;
  width: 20px;
}
.burger.active-burger span:first-child {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
}
.burger.active-burger span:last-child {
  position: absolute;
  display: block;
  transform: rotate(45deg);
}
.mobile-menu {
  z-index: 10;
  margin: 0;
  padding: 0;
  width: 0;
  list-style: none;
  flex-direction: column;
  height: 100vh;
  transition: 0.4s;
  visibility: hidden;
  position: fixed;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu.activeMobile {
  visibility: visible;
  width: 100vw;
}
.mobile-menu li {
  margin: 2rem;
}
.mobile-menu li a {
  color: #BDBDBD;
}
header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
header .header-logo {
  width: 70px;
  height: 45px;
}
header .header-nav {
  display: flex;
}
header .header-nav .main-menu {
  list-style: none;
  display: flex;
}
header .header-nav .main-menu li {
  margin: 0 2rem;
}
header .header-nav .main-menu li a {
  transition: 0.4s;
  font-family: 'TT Hoves', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 0.1rem;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  color: #333333;
}
header .header-nav .main-menu li a:hover {
  border-color: #333333;
}
header .header-nav .main-menu li .active {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
  cursor: default;
  pointer-events: none;
}
.banner {
  padding: 0;
}
.banner .slider {
  position: relative;
  user-select: none;
  touch-action: pan-y;
  height: 80vh;
}
.banner .slider-list {
  height: inherit;
  margin: 0 auto;
  width: 85vw;
  overflow: hidden;
}
.banner .slider-list.grab {
  cursor: grab;
}
.banner .slider-list.grabbing {
  cursor: grabbing;
}
.banner .slider-track {
  height: inherit;
  display: flex;
}
.banner .slide {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  height: inherit;
}
.banner .slide .text {
  padding: 2rem 0;
  display: inline-block;
  margin-bottom: 2rem;
}
.banner .slide .text .slider-arrows {
  color: #333333;
  margin-bottom: 2rem;
}
.banner .slide .text .slider-arrows button {
  font-size: 24px;
  margin: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  padding-bottom: 0.1rem;
}
.banner .slide .text .slider-arrows button:hover {
  background: #333333;
  color: white;
}
.banner .slide .text .slider-arrows .disabled {
  cursor: text;
}
.banner .slide .text .slide-numbers {
  display: flex;
}
.banner .slide .text .slide-numbers p {
  color: #BDBDBD;
  font-size: 24px;
  margin: 1.5rem;
}
.banner .slide .text h1 {
  color: #333333;
  font-family: 'TT Hoves', sans-serif;
  font-weight: 700;
  font-size: 64px;
}
.banner .slide .text h1 span {
  font-family: 'TT Hoves', sans-serif;
  font-weight: 300;
  color: #BDBDBD;
}
.banner .slide .image {
  position: relative;
  display: inline-block;
  width: 60%;
  height: 100%;
  background: no-repeat center / cover url("../img/Banner_img.jpg");
}
.banner .slide .image .white-button {
  position: absolute;
  bottom: 0;
  left: 0;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.about .images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .images .twoImg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about .images .twoImg img:first-child {
  height: 265px;
  width: 250px;
  margin-bottom: 30px;
}
.about .images .twoImg img:last-child {
  width: 250px;
  height: 140px;
}
.about .images .oneImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .images .oneImg img {
  margin: 30px;
  height: 345px;
  width: 250px;
}
.about .text {
  width: 400px;
}
.about .text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 2rem;
}
.about .text button {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 3px;
  padding: 1rem 2rem;
}
.tasks .task-items {
  display: flex;
  justify-content: space-around;
}
.tasks .task-items .number {
  font-weight: 800;
  font-size: 200px;
  color: #f2f2f2;
  margin: 0;
}
.tasks .task-items .task {
  margin: 1rem;
  font-size: 22px;
  line-height: 36px;
}
.tasks .task-items .first {
  justify-content: center;
  align-items: center;
  display: flex;
}
.tasks .task-items .first .task {
  width: 270px;
}
.tasks .task-items .second {
  justify-content: center;
  align-items: center;
  display: flex;
}
.tasks .task-items .second .task {
  width: 420px;
}
.projects .top-item {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 220px;
}
.projects .top-item .text-item {
  width: 48%;
  background: center / cover url("../img/projects/1.jpg");
  position: relative;
  height: 100%;
}
.projects .top-item .text-item:after {
  content: "";
  position: absolute;
  opacity: 0.4;
  height: 100%;
  top: 0;
  width: 100%;
  background: #333333;
  z-index: 0;
}
.projects .top-item .text-item:before {
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  content: "ДОСУГОВЫЙ ЦЕНТР";
  top: 50%;
  transform: translateY(-40%);
  font-size: 64px;
  font-weight: 700;
  color: white;
  text-align: center;
}
.projects .top-item img {
  width: 48%;
  height: 100%;
}
.projects .bottom-item {
  height: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.projects .bottom-item img {
  max-height: 100%;
  width: auto;
}
.projects button {
  float: right;
}
.contact-form .form-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 3rem;
}
.contact-form .form-content .title {
  margin-bottom: 4rem;
}
.contact-form .form-content form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form .form-content form label {
  width: 100%;
  text-align: center;
}
.contact-form .form-content form input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f3f3f3;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
  color: #8d8d8d;
}
.contact-form .form-content form textarea {
  font-size: 14px;
  font-family: "TT Hoves", sans-serif;
  outline: none;
  background-color: #f3f3f3;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  border: none;
  resize: none;
  width: 100%;
  height: 120px;
  color: #8d8d8d;
}
.contact-form .form-content .checkBox {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 12px;
}
.contact-form .form-content .checkBox input {
  margin-right: 1rem;
  transform: translateY(7px);
  width: auto;
}
.contact-form .form-content button {
  align-self: start;
}
footer {
  color: white;
  background-color: #333333;
}
footer .footer-top {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
footer .footer-top h3 {
  margin-top: 0;
  margin-bottom: 2.2rem;
  font-weight: 700;
  font-size: 16px;
}
footer .footer-top .logo {
  max-height: 94px;
}
footer .footer-top .information {
  width: 15%;
}
footer .footer-top .information ul {
  list-style: none;
  padding: 0;
}
footer .footer-top .information ul li {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin: 1rem 0;
}
footer .footer-top .information ul li a {
  color: white;
}
footer .footer-top .information ul li .active {
  cursor: default;
  pointer-events: none;
}
footer .footer-top .contacts {
  width: 30%;
}
footer .footer-top .contacts .contacts-item {
  display: flex;
  align-items: center;
}
footer .footer-top .contacts .contacts-item img {
  width: 16px;
  height: 16px;
  padding-right: 1rem;
}
footer .footer-top .socials img {
  margin-right: 2rem;
}
footer .footer-bottom p {
  margin: 0;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  color: rgba(200, 200, 200, 0.4);
  padding: 1.5rem;
  border-top: solid rgba(200, 200, 200, 0.4) 1px;
}
@media (max-width: 992px) {
  section,
  .footer-top {
    width: 90%;
  }
  .tasks .task-items {
    flex-direction: column;
    padding: 1rem 2rem;
  }
  .tasks .task-items .task {
    font-size: 20px;
    line-height: 25px;
  }
  .tasks .task-items .number {
    font-size: 150px;
  }
  .tasks .task-items .first .task {
    padding-left: 1.7rem;
    width: auto;
  }
  .tasks .task-items .second {
    justify-content: center;
  }
  .tasks .task-items .second .task {
    width: auto;
  }
  .projects .top-item {
    height: 160px;
  }
  .projects .top-item .text-item:before {
    font-size: 50px;
    transform: translateY(-30%);
  }
  .projects .bottom-item {
    height: 160px;
  }
  .contact-form .form-content {
    flex-direction: column;
    align-items: center;
  }
  .contact-form .form-content form {
    width: 80%;
    order: 1;
  }
  .contact-form .form-content form input {
    width: 90%;
  }
  .contact-form .form-content form textarea {
    width: 90%;
  }
  .contact-form .form-content form button {
    float: right;
  }
  .contact-form .form-content form .checkBox {
    margin-left: 1rem;
  }
  .contact-form .form-content img {
    width: 100%;
    margin-bottom: 2rem;
    order: 0;
  }
  footer .footer-top {
    flex-wrap: wrap;
  }
  footer .footer-top h3 {
    text-align: center;
  }
  footer .footer-top .logo {
    display: none;
  }
  footer .footer-top .information {
    width: 25%;
  }
  footer .footer-top .information ul {
    text-align: center;
  }
  footer .footer-top .contacts {
    text-align: center;
    width: 35%;
  }
  footer .footer-top .contacts p {
    width: 100%;
  }
  footer .footer-top .socials {
    text-align: center;
    width: 30%;
  }
  footer .footer-top .socials .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .footer-top .socials .images img {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .title {
    text-align: center;
    font-size: 50px;
  }
  section,
  .footer-top {
    width: 95%;
  }
  .burger {
    display: inline;
  }
  .banner .slide {
    flex-direction: column;
  }
  .banner .slide .text {
    width: 100%;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner .slide .text h1 {
    font-size: 40px;
  }
  .banner .slide .text .slide-numbers {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .banner .slide .image {
    width: 100%;
  }
  header {
    position: relative;
    justify-content: center;
  }
  header .header-nav .main-menu {
    display: none;
  }
  .about {
    width: 100vw;
  }
  .about .images {
    display: none;
  }
  .about .text {
    text-align: center;
    width: 100%;
    position: relative;
  }
  .about .text p {
    padding: 0 2rem;
    color: #333333;
  }
  .about .text:after {
    padding: 2rem 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
    background: no-repeat #BDBDBD;
  }
  .about .text button {
    margin: 0 auto;
  }
  .projects .top-item {
    flex-direction: column;
    height: auto;
  }
  .projects .top-item .text-item {
    width: 100%;
    height: 180px;
    margin-bottom: 1rem;
  }
  .projects .top-item img {
    width: 100%;
  }
  .projects .bottom-item {
    flex-direction: column;
    height: auto;
  }
  .projects .bottom-item img {
    width: 100%;
    margin: 0.5rem;
  }
  footer .footer-top {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-top h3 {
    margin-bottom: 1.5rem;
  }
  footer .footer-top .information {
    width: 80%;
    margin-bottom: 3rem;
  }
  footer .footer-top .contacts {
    width: 80%;
    margin-bottom: 3rem;
  }
  footer .footer-top .socials {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */