.messages{
    background-color: #ffffff;
    position: relative;
    padding: 1rem 1rem 3.4rem;
}
.messagesList{
    height: 70vh;
    overflow: auto;
    position: relative;
}
.messagesList>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.messagesList::-webkit-scrollbar {
    width: 0;
}
.messagesListItems{
    bottom: 0;
}