@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  font-size: 1.2rem;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 8px;
  background-color: #fcb303;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
.form-input {
  display: block;
  border: 1px solid #dddddd;
  width: 100%;
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 1rem;
  font-size: 1.8rem;
}
.form label {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background-color: transparent;
  padding: 0.5rem;
  font-size: 1.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
  left: 50%;
}
.form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
section {
  padding: 5rem 0;
}
.section-header {
  margin: 2rem 0 7rem;
  text-align: center;
}
.section-header_light {
  color: #fff;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
.main {
  background: #fff url(../img/main_bg.png) center center no-repeat;
  padding: 3rem 0 5rem;
  background: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content .main-title {
  display: block;
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4px;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.45;
}
.main-sudtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: #46b814;
  text-align: center;
  border-radius: 1rem;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  display: block;
  margin-top: 2rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  background-color: #fff;
  padding: 4rem 5rem;
  text-align: center;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  width: 100%;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
  text-align: right;
}
.features {
  padding: 5rem;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.features-slider-btn {
  position: absolute;
  z-index: 99;
  width: 3rem;
  height: 5rem;
  border: none;
  background-size: 100%;
  background-color: transparent;
  top: 50%;
  transform: translateY(-120%);
}
.features-slider-btn-prev {
  background-image: url(../img/left-arrow.png);
  left: 0;
}
.features-slider-btn-next {
  background-image: url(../img/right-arrow.png);
  right: 0;
}
.slick-active {
  outline: none;
}
.price {
  padding: 3.5rem;
  background: #46b814 url(../img/prices/bgrd.png) center;
}
.price-header-btn {
  margin-top: 2.5rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 1rem 3rem 4rem;
  min-height: 50rem;
  background-color: #fff;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-block img {
  width: 100%;
  min-width: 20rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-list {
  list-style: none;
  padding: 0;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
  background: url(../img/prices/cheked.svg) no-repeat center;
  background-size: 100%;
}
.feedback {
  padding: 5rem 0 7rem;
  position: relative;
  background: url(../img/feedback/backround.png) no-repeat center;
  background-size: cover;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  position: relative;
  padding: 1rem;
  border: 2px solid #46b814;
  margin-top: 2rem;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  width: 2rem;
  height: 2rem;
  left: 4rem;
  background-color: #fff;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 100px;
  transform: translateY(1px);
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #fff;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider .media h5 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #46b814;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 10rem;
  background-color: #fff;
  text-align: center;
}
.feedback-form h3 {
  margin-bottom: 1rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
.feedback-form label {
  transform: translate(-50%, 4px);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.feedback .hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30rem;
}
.feedback-header {
  margin-bottom: 3rem;
}
.scheme {
  background: #fff url(../img/scheme/main_bg.png) bottom right -15rem no-repeat;
  background-size: 60rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.scheme-block p {
  font-size: 1.4rem;
}
.scheme-block2 {
  animation-delay: 0.4s;
}
.scheme-block3 {
  animation-delay: 0.7s;
}
.scheme-block4 {
  animation-delay: 1s;
}
.scheme-block-last {
  animation-delay: 1.3s;
}
.all-inclusive {
  padding-top: 0;
  margin-top: 0;
  background-color: #f5f5f5;
}
.all-inclusive .media {
  min-height: 10rem;
  font-size: 1.3rem;
}
.all-inclusive .media-body {
  margin-left: 1rem;
}
.all-inclusive .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.3em;
  vertical-align: middle;
}
.circle {
  display: inline-block;
  background-color: #46b814;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  padding: 0.3rem;
  width: 5rem;
  height: 5rem;
  border: 2px solid #46b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #fff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
}
.problems {
  position: relative;
}
.problems h2 {
  margin-bottom: 3rem;
}
.problems-girl {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30rem;
  margin-left: -17rem;
}
.problems-list {
  margin-bottom: 2rem;
  text-align: left;
  border: 4px solid;
  padding: 2rem;
  min-height: 28rem;
}
.problems-list h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.problems-list ul {
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
}
.problems-list ul li {
  font-size: 1.4rem;
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 3rem;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/problems/bad.png) center no-repeat;
  background-size: 60%;
}
.problems-list_good {
  border-color: #46b814;
}
.problems-list_good ul li:before {
  background: url(../img/problems/good.png) center no-repeat;
  background-size: 60%;
}
.problems h4 {
  font-size: 2.1rem;
}
.materials {
  background: #fff url(../img/materials/background.png) center no-repeat;
  font-size: 1.8rem;
}
.materials-slider {
  padding-top: 5rem;
}
.materials-sertification {
  color: #46b814;
  border-bottom: 1px dotted #46b814;
  font-size: 1.3rem;
}
.materials-sertification:hover {
  color: #235c0a;
}
.materials img {
  display: block;
  margin: 0 auto;
  max-height: 16rem;
}
.materials p {
  min-height: 5rem;
}
.materials-offer {
  margin-top: 4rem;
}
.sert-link {
  display: block;
}
.tour {
  background: #fff url(../img/tour.png) center left -20rem no-repeat;
  background-size: cover;
}
.tour h1 {
  margin-bottom: 5rem;
}
.tour-subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.uppsell {
  background: #286b0a;
}
.uppsell-content {
  display: inline-block;
  margin-top: 5rem;
  text-align: center;
  color: #fff;
  min-height: 25rem;
}
.uppsell-content button {
  width: auto;
  padding: 1.5rem 4rem;
}
.uppsell-content p {
  font-size: 1.8rem;
  margin: 2rem;
}
.uppsell-content img {
  width: 100%;
  max-width: 40rem;
}
.contacts {
  font-family: 'ProximaNova_reg', sans-serif;
  background: #fff url(../img/footer-mash.png) center right -8rem no-repeat;
  background-size: cover;
}
.contacts h2 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.contacts p {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.4rem;
}
.contacts-link {
  color: #1a1820;
  display: inline-block;
  border-bottom: 1px solid #1a1820;
}
.contacts-link:hover {
  color: #949494;
  border-color: #949494;
}
footer {
  font-size: 1.2rem;
  margin: 4rem 0;
}
footer p {
  text-decoration: underline;
  color: #1a1820;
}
footer a {
  text-decoration: underline;
  color: #1a1820;
}
footer a:hover {
  color: #949494;
  border-color: #949494;
}
footer strong {
  line-height: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
.footer-text {
  text-align: center;
}
.footer-logo {
  text-align: right;
}
.footer-logo img {
  width: 100%;
}
.footer-logo p {
  text-decoration: none;
}
.footer-logo1 img {
  width: 110%;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  text-align: center;
  position: fixed;
  top: 10%;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  padding: 4rem 6rem;
  width: 40%;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #fff;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
  box-shadow: none;
}
.popup-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
.popup-btn {
  width: 100%;
}
.popup-plubing {
  display: none;
  font-size: 1.6rem;
}
.popup-plubing .popup-content {
  width: 70%;
  min-height: 40rem;
}
.popup-plubing tbody {
  text-align: left;
  font-family: 'ProximaNova_reg', sans-serif;
}
.popup-plubing tbody th:nth-child(1) {
  border-right: 1.5px #ccc solid;
}
.popup-plubing thead {
  text-align: left;
}
.popup-plubing thead th:nth-child(1) {
  border-right: 1.5px #ccc solid;
}
.popup-thanks p {
  font-size: 1.8rem;
}
.popup-thanks h2 {
  font-size: 2.2rem;
}
.popup-thanks .popup-content {
  font-family: 'ProximaNova_bold', sans-serif;
  padding: 5rem;
  transform: translate(-50%, 100%);
}
.popup-empty p {
  font-size: 1.8rem;
}
.popup-empty h2 {
  font-size: 2.2rem;
}
.popup-empty .popup-content {
  font-family: 'ProximaNova_bold', sans-serif;
  padding: 5rem;
  transform: translate(-50%, 100%);
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .problems-list {
    min-height: 40rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-link {
    text-align: center;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .main-content {
    margin-top: 1rem;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header_light {
    margin-bottom: 0;
  }
  .hand {
    display: none;
  }
  .problems-girl {
    display: none;
  }
  .problems-list {
    min-height: auto;
  }
  .popup-content {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top right;
  }
  .main h1 {
    font-size: 3rem;
  }
  .header {
    text-align: center;
  }
  .wrap {
    height: 7rem;
  }
  .wrap-block {
    text-align: center;
  }
  .main-content {
    margin-top: 8rem;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .popup-content {
    width: 60%;
  }
  .popup-btn {
    width: auto;
  }
  .scheme {
    background: url(../img/scheme/main_bg.png) no-repeat bottom right -22rem;
    background-size: 60rem;
  }
}
@media (max-width: 576px) {
  .button {
    font-size: 1rem;
    padding: 1rem 1rem;
    width: 85%;
  }
  .feedback-header {
    margin: 1rem;
  }
  .feedback-next-btn {
    margin-right: 1px;
  }
  .feedback-main-text {
    margin: 0;
  }
  .container {
    padding: 0;
  }
  .header-btn {
    margin-right: 2rem;
  }
  .phone-link {
    margin-left: 1rem;
  }
  .fotorama {
    width: 100%;
  }
  .form-btn {
    margin: 1rem auto;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 20rem;
  }
  .popup-content {
    padding: 4rem 3rem;
  }
  footer strong {
    font-size: 1.3rem;
  }
}
